@media screen and (min-width:1000px)
    header
        padding 50px 10px
        
    .container
        width 600px
        margin 25px auto
    
    .main-content
        float left
        width 400px
        
        h1
             margin-bottom 15px
        
    .sidebar
        position relative
        float left
        width 200px
        
        h1
            display block
        
        .widget
            margin-left 20px
        
    footer
        margin 50px auto
        width 500px
        
@media screen and (min-width:450px)
    header
        padding 10px 10px
        
    .main-content
        margin 50px 40px
        
        h1
            text-align center
            font-size 24px
            
    .sidebar
        position absolute
        left 4%
        width 91%
        text-align center
        
        .widget
            margin 0 auto
            p
                display inline
            h1
                display none
                margin-bottom 5px
    footer
        margin 0 30px
        text-align center




@media screen and (min-width:320)
    header
        padding 5px
    
    .main-content
        background green
        min-width 320
        margin 20px 15px
        
        h1
            font-size 20px
            font-weight bold

        .sidebar
            position absolute
            left 4%
            width 91%
            text-align center

            .widget
                margin 0 auto
                p
                    display inline
                h1
                    display none
                    margin-bottom 5px
        footer
            margin 0 30px
            text-align center