extend layout

block content
    h1 404
    p Way to 404 it dog.
    
block sidebar
    .widget
        h1 Navigation
        p
            a(href="/") Home
        if user != undefined
            p
                a(href="/myPolls") My Polls
            p
                a(href="/logout") Logout