extend layout

block content
    h1 The Three voting methods at Pollstr
    
    h2 Winner Takes All (or First Past the Post)
    p 
        | This is a very simple voting method in which the candidate with the most votes, 
        | regardless if he gets a majority or not, takes the election. The U.S. currently
        | uses this system of election.
    
    h2 Instant Run-Off
    p
        | In this voting method, voters rank their candidates from most to least preferred. 
        | This method will drop the least voted for candidates and iterate through the preferences 
        | until a majority is secured. 
        | Its advantage is in preventing manipulative and strategic voting as well
        | as the inevitable two-party domination.
    
    h2 Borda Count
    p
        | An old voting method style. The Borda Count also takes votes as a rank of preference.
        | Candidates are given points depending on their rank in each vote. This method 
        | avoids a majority rule and allows a vehemently opposed minority to have more of a say. In short
        | this method attempts to achive a concensus that will make the most people happy.