extend layout

block content
    form(action="login", method="post", accept-charset="utf-8")
        h2 Log In
        p 
            input(type="text", name="username", placeholder="email", required)
        p 
            input(type="password", name="password", placeholder="password", requried)
        p 
            input(type="submit", value="Login")
            
    form(action="register", method="post", accept-charset="utf-8")
        h2 Register
        p 
            input(type="text", name="username", placeholder="email", required)#regUsername
        p 
            input(type="password", name="password", placeholder="password", requried)#regPassword
        p 
            input(type="password", name="passwordConfirm", placeholder="conform password", required)#regPassConfirm
        p 
            input(type="submit", value="Register")#register
            
block sidebar
    .widget
        h1 Welcome
        p.
            Pollstr is an online voting/polling application. Use it to conduct polls
            in either the 
            <a href="http://en.wikipedia.org/wiki/First-past-the-post_voting">first-past-the-post</a>
            method or the 
            <a href="http://en.wikipedia.org/wiki/Instant-runoff_voting">preferential voting method.</a>
        p
            | Go ahead and register to the left. From there you can create, share, and moderate polls.

block scripts
    script(src='/js/index.js')
