!!!5
html
    head
        title Pollstr - #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Pollstr
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p 
                | Created by 
                a(href="http://www.callmepaul.com") Paul Weidinger
                |  for 
                a(href="http://cs.cmu.edu/~237") 15-237
                |  at Carnegie Mellon