extend layout

block content
    form(action="login", method="post", accept-charset="utf-8")
        h2 Log In
        p 
            input(type="text", name="username", placeholder="email", required)
        p 
            input(type="password", name="password", placeholder="password", requried)
        p 
            input(type="submit", value="Login")
    button(type="button")#paul Log in as Paul
    button(type="button")#tim Log in as Tim
block scripts
    script(src="/js/login.js")
    