extend layout

block content
    - var numPolls = polls.length
    h2 My Polls
    if numPolls === 0
        p You have no polls. Create one or get invited to one to get started.
    else
        each poll in polls
            div.poll
                h2
                    a(href="/poll/"+poll._id)= poll.title
                p #{poll.candidates.length} candidates.
                if poll.active
                    p Voting is open.
                else
                    if poll.numWinners === 1
                        p Voting is closed. The winner is #{poll.winners[0]}
                    else
                        p Voting is closed. The winners are
                            each name in poll.winners
                                #{name}
                if (poll.mod_id.toString() == user._id.toString())
                    div.moderate
                        | [
                        a(href="/mod/"+poll._id) moderate poll
                        | ]