extend layout

block content
    h2 Your email address has been verified!
    br
    p Thank you for using Pollstr. Your email address #{email} has been verified.
    br
    p Log in to create or vote in polls.
    br
    p Please note, you must have a registered account to vote in public polls.