<!DOCTYPE html>

<html lang='en-US'>
<head>
    <meta charset="UTF-8">
    <title></title>

</head>

<body>

<form action="submit">
    <p><input type="radio" name="candidate" value="1" /> {candidate 1}</p>
    <p><input type="radio" name="candidate" value="2" /> {candidate 2}</p>
    <p><input type="radio" name="candidate" value="3" /> {candidate 3}</p>
    <p><input type="radio" name="candidate" value="4" /> {candidate 4}</p>
    <p><input type="radio" name="candidate" value="5" /> {candidate 5}</p>
    <p><input type="radio" name="candidate" value="0" /> Abstain</p>
    <input type="submit" value="Submit" />
</form>

</body>
</html>